body{
	background: #FFFFFF;
}
@import url(//fonts.googleapis.com/css?family=Open+Sans);

.img-responsive{
position: absolute;
width: 450px;
height: 360px;
left: 800px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}



#intro{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 25px;
display: flex;
align-items: center;
text-align: center;
color: #000000;
padding-left: 100px;
padding-top: 100px;
}

.intropara{
width: 690px;
height: 200px;
padding-left: 100px;
padding-bottom: 50px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
display: flex;
align-items: center;
text-align: left;
color: #000000;
}
.button1 {
  background-color:black;
  position: relative;
  top: -50px;
  color: white;
  border: 2px solid #555555;
  transition-duration: 0.4s;
  width: 20%;
  display:inline;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  margin-left: 100px;
}
.button2 {
  background-color: white;
  color: black;
  position: relative;
  top: -50px;
  border: 2px solid #555555;
  transition-duration: 0.4s;
  width: 20%;
  display:inline;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  margin-left: 30px;
}
form {
 display: inline;
}

.button1:hover {
  background-color: white;
  color: black;
}
.button2:hover {
  background-color: black;
  color: white;
}
